* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    padding: 10px;
    background-color: #081b29;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
    text-shadow: 0px 4px 0px #00acf0 ;
    color: white;
}

.pen{
  display: flex;
  gap: 5px;
}

.onepen{
  display: none;
}
body {
    font-family: "Poetsen One", sans-serif;
    /*background-image: url("image/css.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background: repeating-radial-gradient(circle ,green, red 10%);*/
    background-color: #081b29;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.title{
  color: white;
  width: 80%;
  margin-top: 15px;
}

.container {
    padding: 10px;
}

.bookcontainer {
    background-color: #112e42;
    width: 35%;
    color: white;
    padding: 25px;
    margin: 25px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}

.bookcontainer:hover{
    box-shadow: inset 0px 5px aqua , inset 0px -5px aqua , inset 5px 0px #00acf0 , inset -5px 0px #00acf0;
    color: aqua; transition: 3s;
}

.bookcontainer h2 {
    color: #00acf0;
  font-size: 30px;
}

.bookcontainer h5 {
    line-height: 50px;
  font-size: 20px;
  color: aquamarine
}

.bookcontainer button {
    background-color: #081b29;
    border-radius: 10px;
    padding-left: 10px;
    padding-right:10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
  color: #00acf0;
}

.bookcontainer button:hover {
    box-shadow: 0px 0px 25px #00acf0, 0px 0px 50px #00acf0, 0px 0px 75px #00acf0, 0px 0px 100px #00acf0;
    transition: 1s;
    border: none;
}

.plus {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 100px;
    font-size: 40px;
    background-color: #112e42;
  color: #00acf0;
    border: none;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.overley {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.8;
    z-index: 1;
    display: none;
}

.popup {
    background-color: #081b29;
    position: absolute;
    top: 20%;
    left: 15%;
    right:15%;
    padding: 40px;
    border-radius: 10px;
    border: none;
    display: none;
    z-index: 2;
  color: #00acf0
}

.popup input {
    width: 100%;
    padding: 10px;
    border: none;
    margin: 5px;
    background: transparent;
    border-bottom: 2px solid black;
}

.popup textarea {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 2px solid black;
    margin: 5px;
}

.popup input::placeholder {
    color: #00acf0;
}

.popup textarea::placeholder {
    color: #00acf0;
}

.popup button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
    background-color: #081b29;
    margin-top: 20px;
  color: #00acf0;
}

.popup input:focus {
    outline: none;
  color: white;
}

.popup textarea:focus {
    outline: none;
  color: white;
}

.popup button:hover {
    box-shadow: inset 2px 2px aqua, inset -2px -2px aqua;
    transition: 1s linear;
    color: aqua;
}

@media screen and (max-width:700px){
    .bookcontainer{
        width: 73%;
      height: auto;
    }
    .popup{
      left: 5%;
      right: 5%;
    }
  
  .pen{
    display: none;
  }
  
  .onepen{
    display: block;
  }
}